@import "tailwindcss";

@theme {
    --color-primary: #000000;
    --color-primary-500: #1e1f1f;
    --color-secondary: #505152;
    --color-secondary-500: #505152;
    --color-light: #acadad;
    --color-light-500: #d1d1d1;
}
