@import "tailwindcss";

@theme {
    --color-primary: #16325B;
    --color-primary-500: #09172b;
    --color-secondary: #227B94;
    --color-secondary-500: #155263;
    --color-light: #78B7D0;
    --color-light-500: #4c7485;
    --color-sun: #FFDC7F;
    --color-sun-500: #a89051;
    --color-background: #fae5b9;
    --color-background-500: #bdac8a;
}
